.quizpage-container {
    background: linear-gradient(#254E8D, 60%, #4861B9);
    height: 100vh;
    color: var(--font-color);
}

.quizpage-wrapper {
    display: flex;
    justify-content: center;
    height: 100%;

}
.loading-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 10%;
    height: 100px;
    align-items: center;
}
.loading-dots {
    display: flex;
    margin-left: 10px;
}

.loading-dot {
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    margin-left: 5px;
    opacity: 0;
    align-items: center;
}