.quiz-content.container {
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.quiz-content.container > p {
    text-align: center;
}

.quiz-content.wrapper {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.answer-container {
    text-align: center;
    margin-top: 40px;
}

.answers {
    padding-bottom: 10px
}

.correct .ans-0 {
    border: 1px solid green;
}
.correct .ans-1 {
    border: 1px solid green;
}
.correct .ans-2 {
    border: 1px solid green;
}
.correct .ans-3 {
    border: 1px solid green;
}

.incorrect {
    border: 1px solid red;
}